.ninja-forms-form-wrap,
.nd-start-demo {
    .lasso-theme--back();
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    padding: 25px 25px 0;
    max-width:320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:70px !important;

    label {
        color: #444;
        text-shadow:none;
    }

    .submit {
        margin-bottom: -10px;
    }
}